.app {

    display: flex;

    width: 100%;

    min-height: 100dvh;
}

@media (orientation:portrait) {

    .app {

        flex-direction: column;
    }
}

@media (orientation:landscape) {

    .app {

        flex-direction: row;
    }
}